In [ ]:
# data preperation


# Grouping
# appending
# concatenating
# merging
# sorting
# categeorizing
# removing duplicates
# dropping rows and col 
# replacing data
# changing formats
# dealing with missing values

In [2]:
# Numerical columns vs categorical column

# column to group by is a categorical column

# column to aggregate by is a numeric column

import numpy as np
import pandas as pd

In [3]:
marketing_data = pd.read_csv("marketing_campaign.csv")
marketing_data

     ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0     5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1     2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2     4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3     6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4     5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...
...                                                 ...
2235  10870\t1967\tGraduation\tMarried\t61223\t0\t1\...
2236  4001\t1946\tPhD\tTogether\t64014\t2\t1\t10-06-...
2237  7270\t1981\tGraduation\tDivorced\t56981\t0\t0\...
2238  8235\t1956\tMaster\tTogether\t69245\t0\t1\t24-...
2239  9405\t1954\tPhD\tMarried\t52869\t1\t1\t15-10-2...

[2240 rows x 1 columns]

In [4]:


# using \t as the delimiter

marketing_data = pd.read_csv("marketing_campaign.csv", sep='\t')
marketing_data

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [6]:
marketing_data.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [7]:
marketing_data.head(20)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
5,7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,...,6,0,0,0,0,0,0,3,11,0
6,965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,...,6,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,76,...,8,0,0,0,0,0,0,3,11,0
8,4855,1974,PhD,Together,30351.0,1,0,06-06-2013,19,14,...,9,0,0,0,0,0,0,3,11,1
9,5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,...,20,1,0,0,0,0,0,3,11,0
10,1994,1983,Graduation,Married,NaN,1,0,15-11-2013,11,5,...,7,0,0,0,0,0,0,3,11,0
11,387,1976,Basic,Married,7500.0,0,0,13-11-2012,59,6,...,8,0,0,0,0,0,0,3,11,0
12,2125,1959,Graduation,Divorced,63033.0,0,0,15-11-2013,82,194,...,2,0,0,0,0,0,0,3,11,0
13,8180,1952,Master,Divorced,59354.0,1,1,15-11-2013,53,233,...,6,0,0,0,0,0,0,3,11,0
14,2569,1987,Graduation,Married,17323.0,0,0,10-10-2012,38,3,...,8,0,0,0,0,0,0,3,11,0
15,2114,1946,PhD,Single,82800.0,0,0,24-11-2012,23,1006,...,3,0,0,1,1,0,0,3,11,1
16,9736,1980,Graduation,Married,41850.0,1,1,24-12-2012,51,53,...,8,0,0,0,0,0,0,3,11,0
17,4939,1946,Graduation,Together,37760.0,0,0,31-08-2012,20,84,...,7,0,0,0,0,0,0,3,11,0
18,6565,1949,Master,Married,76995.0,0,1,28-03-2013,91,1012,...,5,0,0,0,1,0,0,3,11,0
19,2278,1985,2n Cycle,Single,33812.0,1,0,03-11-2012,86,4,...,6,0,0,0,0,0,0,3,11,0

In [8]:
# checking the dimensionality
marketing_data.shape

(2240, 29)

In [9]:
marketing_data.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [10]:
# dataframe as subsets

marketing_data = marketing_data[['ID','Year_Birth','Education',
                                 'Marital_Status','Income','Kidhome', 'Teenhome', 
                                 'Dt_Customer','Recency','NumStorePurchases',
                                 'NumWebVisitsMonth']]
marketing_data

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,6,5
...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,4,5
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,5,7
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,13,6
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,10,3
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,4,7

In [11]:
marketing_data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,6,5

In [12]:
marketing_data.head().T

                            0           1           2           3           4
ID                       5524        2174        4141        6182        5324
Year_Birth               1957        1954        1965        1984        1981
Education          Graduation  Graduation  Graduation  Graduation         PhD
Marital_Status         Single      Single    Together    Together     Married
Income                58138.0     46344.0     71613.0     26646.0     58293.0
Kidhome                     0           1           0           1           1
Teenhome                    0           1           0           0           0
Dt_Customer        04-09-2012  08-03-2014  21-08-2013  10-02-2014  19-01-2014
Recency                    58          38          26          26          94
NumStorePurchases           4           2          10           4           6
NumWebVisitsMonth           7           5           4           6           5

In [13]:
marketing_data.dtypes

ID                     int64
Year_Birth             int64
Education             object
Marital_Status        object
Income               float64
Kidhome                int64
Teenhome               int64
Dt_Customer           object
Recency                int64
NumStorePurchases      int64
NumWebVisitsMonth      int64
dtype: object

In [5]:


# group by - kidhome - categorical column

# aggregate - NumStorePurchases - numerical column


# average the number of purchases based on the kids at home

avg_purchase = marketing_data.groupby('Kidhome')['NumStorePurchases']
print(avg_purchase.indices)

avg_purchase = marketing_data.groupby('Kidhome')['NumStorePurchases'].mean()
avg_purchase


# total number of purchases based on kids at home

sum_purchase = marketing_data.groupby('Kidhome')['NumStorePurchases'].sum()
sum_purchase


# computing the maximum value of each group

max_purchase = marketing_data.groupby('Kidhome')['NumStorePurchases'].max()
max_purchase

# size of each group

size = marketing_data.groupby('Kidhome')['NumStorePurchases'].size()
size

# it is same as count

count = marketing_data.groupby('Kidhome')['NumStorePurchases'].count()
count

{0: array([   0,    2,    5, ..., 2235, 2237, 2238]), 1: array([   1,    3,    4,    7,    8,    9,   10,   13,   16,   19,   21,
         26,   27,   28,   35,   37,   41,   44,   47,   49,   52,   54,
         57,   58,   61,   65,   66,   69,   71,   73,   75,   80,   81,
         82,   85,   86,   91,   93,   94,   95,   97,  105,  106,  108,
        114,  115,  117,  118,  119,  121,  123,  127,  129,  131,  134,
        136,  138,  139,  144,  146,  147,  153,  157,  162,  169,  170,
        171,  173,  177,  181,  183,  185,  189,  190,  192,  193,  194,
        195,  199,  204,  206,  207,  212,  213,  215,  219,  220,  223,
        225,  229,  230,  232,  235,  236,  238,  242,  245,  246,  250,
        251,  254,  255,  258,  260,  262,  263,  264,  265,  267,  269,
        271,  273,  274,  280,  284,  285,  287,  291,  294,  296,  297,
        300,  302,  303,  304,  310,  314,  315,  316,  317,  318,  319,
        321,  322,  326,  327,  329,  330,  333,  334,  337,  344,  346,
        348,  349,  351,  355,  363,  364,  367,  370,  371,  372,  374,
        375,  377,  379,  381,  384,  385,  389,  391,  396,  397,  398,
        399,  400,  402,  404,  405,  406,  407,  408,  410,  413,  416,
        419,  420,  421,  422,  425,  427,  428,  431,  432,  434,  438,
        439,  440,  443,  446,  448,  452,  453,  455,  457,  464,  467,
        469,  471,  472,  473,  474,  476,  479,  480,  481,  482,  488,
        491,  500,  503,  510,  516,  517,  520,  524,  525,  529,  532,
        533,  534,  539,  540,  542,  545,  547,  548,  549,  550,  551,
        555,  556,  560,  567,  569,  571,  572,  574,  576,  577,  578,
        579,  580,  582,  584,  585,  590,  593,  595,  596,  597,  598,
        599,  604,  605,  612,  615,  617,  618,  623,  625,  628,  629,
        630,  645,  647,  651,  659,  661,  667,  668,  669,  678,  694,
        697,  704,  705,  706,  709,  710,  712,  714,  717,  719,  722,
        724,  730,  731,  732,  733,  734,  738,  741,  742,  743,  746,
        748,  758,  760,  761,  763,  772,  773,  775,  778,  781,  782,
        783,  784,  785,  786,  788,  793,  799,  801,  802,  808,  811,
        816,  819,  821,  826,  827,  829,  830,  833,  834,  836,  840,
        842,  843,  853,  858,  860,  861,  863,  864,  869,  872,  873,
        874,  876,  877,  879,  880,  883,  887,  888,  890,  891,  893,
        898,  899,  904,  907,  908,  913,  920,  922,  923,  924,  931,
        933,  935,  939,  940,  947,  948,  950,  951,  952,  954,  955,
        958,  962,  964,  967,  968,  969,  972,  978,  980,  982,  989,
        991,  992,  993,  994,  997,  998, 1002, 1003, 1008, 1009, 1012,
       1014, 1018, 1020, 1021, 1022, 1024, 1026, 1027, 1033, 1036, 1037,
       1038, 1041, 1044, 1048, 1051, 1053, 1054, 1060, 1063, 1065, 1070,
       1077, 1078, 1079, 1081, 1083, 1086, 1088, 1091, 1093, 1094, 1098,
       1102, 1103, 1104, 1108, 1109, 1112, 1114, 1116, 1121, 1122, 1123,
       1125, 1126, 1131, 1132, 1135, 1136, 1141, 1142, 1145, 1146, 1147,
       1149, 1155, 1156, 1161, 1167, 1173, 1174, 1176, 1178, 1183, 1184,
       1185, 1186, 1194, 1197, 1200, 1203, 1214, 1215, 1217, 1220, 1221,
       1223, 1224, 1227, 1229, 1230, 1231, 1233, 1234, 1235, 1238, 1239,
       1240, 1244, 1246, 1247, 1248, 1255, 1258, 1260, 1263, 1264, 1266,
       1267, 1272, 1273, 1274, 1276, 1277, 1282, 1285, 1287, 1291, 1292,
       1293, 1294, 1296, 1299, 1300, 1303, 1306, 1314, 1315, 1317, 1318,
       1319, 1324, 1327, 1330, 1331, 1334, 1339, 1342, 1344, 1345, 1352,
       1356, 1359, 1360, 1361, 1362, 1367, 1368, 1371, 1376, 1377, 1381,
       1382, 1383, 1384, 1386, 1387, 1388, 1390, 1391, 1392, 1393, 1394,
       1396, 1397, 1399, 1400, 1404, 1405, 1409, 1411, 1412, 1414, 1415,
       1419, 1425, 1426, 1427, 1428, 1430, 1431, 1433, 1434, 1435, 1436,
       1439, 1440, 1441, 1442, 1450, 1453, 1457, 1462, 1463, 1464, 1468,
       1470, 1471, 1482, 1483, 1489, 1490, 1491, 1493, 1494, 1496, 1500,
       1501, 1502, 1503, 1506, 1511, 1515, 1517, 1518, 1519, 1522, 1523,
       1524, 1525, 1527, 1531, 1533, 1534, 1535, 1536, 1539, 1540, 1541,
       1543, 1545, 1549, 1555, 1556, 1557, 1560, 1562, 1564, 1568, 1569,
       1571, 1573, 1574, 1585, 1586, 1588, 1592, 1596, 1597, 1598, 1599,
       1603, 1604, 1605, 1607, 1613, 1614, 1615, 1616, 1617, 1621, 1623,
       1624, 1628, 1629, 1631, 1632, 1633, 1638, 1639, 1640, 1642, 1643,
       1644, 1649, 1650, 1652, 1655, 1660, 1663, 1665, 1667, 1668, 1676,
       1677, 1678, 1679, 1681, 1682, 1683, 1685, 1692, 1693, 1696, 1698,
       1701, 1702, 1704, 1705, 1708, 1714, 1715, 1717, 1718, 1720, 1724,
       1725, 1726, 1728, 1730, 1732, 1736, 1739, 1741, 1752, 1754, 1755,
       1756, 1757, 1758, 1759, 1761, 1764, 1766, 1770, 1775, 1776, 1778,
       1780, 1781, 1784, 1785, 1787, 1788, 1790, 1791, 1793, 1794, 1795,
       1797, 1799, 1802, 1803, 1804, 1807, 1810, 1815, 1819, 1821, 1822,
       1825, 1829, 1830, 1833, 1834, 1835, 1840, 1842, 1844, 1846, 1849,
       1851, 1859, 1863, 1865, 1866, 1867, 1868, 1870, 1872, 1879, 1881,
       1885, 1886, 1888, 1889, 1892, 1896, 1900, 1903, 1907, 1909, 1917,
       1919, 1924, 1925, 1929, 1930, 1932, 1935, 1939, 1942, 1944, 1948,
       1956, 1959, 1962, 1963, 1971, 1972, 1974, 1977, 1978, 1979, 1980,
       1981, 1984, 1986, 1988, 1994, 1998, 2000, 2001, 2002, 2004, 2011,
       2015, 2017, 2018, 2019, 2020, 2021, 2022, 2025, 2026, 2029, 2032,
       2034, 2036, 2038, 2041, 2042, 2043, 2044, 2045, 2048, 2050, 2051,
       2053, 2054, 2056, 2059, 2060, 2061, 2063, 2068, 2069, 2072, 2075,
       2076, 2078, 2080, 2088, 2090, 2095, 2097, 2098, 2100, 2102, 2105,
       2110, 2112, 2116, 2119, 2120, 2121, 2124, 2130, 2133, 2136, 2137,
       2139, 2140, 2141, 2142, 2146, 2147, 2148, 2150, 2152, 2153, 2154,
       2155, 2156, 2161, 2164, 2165, 2169, 2180, 2183, 2189, 2191, 2195,
       2198, 2199, 2200, 2205, 2207, 2209, 2212, 2215, 2216, 2218, 2219,
       2222, 2223, 2225, 2226, 2230, 2233, 2234, 2239]), 2: array([  48,   90,  122,  137,  148,  160,  165,  172,  178,  216,  259,
        293,  311,  328,  362,  380,  383,  607,  613,  616,  635,  675,
        701,  728,  849,  857,  867,  882,  886,  953,  971,  977, 1127,
       1241, 1323, 1372, 1418, 1420, 1487, 1558, 1576, 1580, 1661, 1856,
       1933, 2129, 2229, 2236])}

Kidhome
0    1293
1     899
2      48
Name: NumStorePurchases, dtype: int64

In [46]:


# splitting the data

grouped = marketing_data.groupby('Kidhome')
print(grouped)
print(grouped.indices)

grouped_purchase_visit = marketing_data.groupby(['Kidhome','NumStorePurchases'])
print(grouped_purchase_visit)
print(grouped_purchase_visit.indices)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x127addee0>
{0: array([   0,    2,    5, ..., 2235, 2237, 2238]), 1: array([   1,    3,    4,    7,    8,    9,   10,   13,   16,   19,   21,
         26,   27,   28,   35,   37,   41,   44,   47,   49,   52,   54,
         57,   58,   61,   65,   66,   69,   71,   73,   75,   80,   81,
         82,   85,   86,   91,   93,   94,   95,   97,  105,  106,  108,
        114,  115,  117,  118,  119,  121,  123,  127,  129,  131,  134,
        136,  138,  139,  144,  146,  147,  153,  157,  162,  169,  170,
        171,  173,  177,  181,  183,  185,  189,  190,  192,  193,  194,
        195,  199,  204,  206,  207,  212,  213,  215,  219,  220,  223,
        225,  229,  230,  232,  235,  236,  238,  242,  245,  246,  250,
        251,  254,  255,  258,  260,  262,  263,  264,  265,  267,  269,
        271,  273,  274,  280,  284,  285,  287,  291,  294,  296,  297,
        300,  302,  303,  304,  310,  314,  315,  316,  317,  318,  319,
        321,  322,  326,  327,  329,  330,  333,  334,  337,  344,  346,
        348,  349,  351,  355,  363,  364,  367,  370,  371,  372,  374,
        375,  377,  379,  381,  384,  385,  389,  391,  396,  397,  398,
        399,  400,  402,  404,  405,  406,  407,  408,  410,  413,  416,
        419,  420,  421,  422,  425,  427,  428,  431,  432,  434,  438,
        439,  440,  443,  446,  448,  452,  453,  455,  457,  464,  467,
        469,  471,  472,  473,  474,  476,  479,  480,  481,  482,  488,
        491,  500,  503,  510,  516,  517,  520,  524,  525,  529,  532,
        533,  534,  539,  540,  542,  545,  547,  548,  549,  550,  551,
        555,  556,  560,  567,  569,  571,  572,  574,  576,  577,  578,
        579,  580,  582,  584,  585,  590,  593,  595,  596,  597,  598,
        599,  604,  605,  612,  615,  617,  618,  623,  625,  628,  629,
        630,  645,  647,  651,  659,  661,  667,  668,  669,  678,  694,
        697,  704,  705,  706,  709,  710,  712,  714,  717,  719,  722,
        724,  730,  731,  732,  733,  734,  738,  741,  742,  743,  746,
        748,  758,  760,  761,  763,  772,  773,  775,  778,  781,  782,
        783,  784,  785,  786,  788,  793,  799,  801,  802,  808,  811,
        816,  819,  821,  826,  827,  829,  830,  833,  834,  836,  840,
        842,  843,  853,  858,  860,  861,  863,  864,  869,  872,  873,
        874,  876,  877,  879,  880,  883,  887,  888,  890,  891,  893,
        898,  899,  904,  907,  908,  913,  920,  922,  923,  924,  931,
        933,  935,  939,  940,  947,  948,  950,  951,  952,  954,  955,
        958,  962,  964,  967,  968,  969,  972,  978,  980,  982,  989,
        991,  992,  993,  994,  997,  998, 1002, 1003, 1008, 1009, 1012,
       1014, 1018, 1020, 1021, 1022, 1024, 1026, 1027, 1033, 1036, 1037,
       1038, 1041, 1044, 1048, 1051, 1053, 1054, 1060, 1063, 1065, 1070,
       1077, 1078, 1079, 1081, 1083, 1086, 1088, 1091, 1093, 1094, 1098,
       1102, 1103, 1104, 1108, 1109, 1112, 1114, 1116, 1121, 1122, 1123,
       1125, 1126, 1131, 1132, 1135, 1136, 1141, 1142, 1145, 1146, 1147,
       1149, 1155, 1156, 1161, 1167, 1173, 1174, 1176, 1178, 1183, 1184,
       1185, 1186, 1194, 1197, 1200, 1203, 1214, 1215, 1217, 1220, 1221,
       1223, 1224, 1227, 1229, 1230, 1231, 1233, 1234, 1235, 1238, 1239,
       1240, 1244, 1246, 1247, 1248, 1255, 1258, 1260, 1263, 1264, 1266,
       1267, 1272, 1273, 1274, 1276, 1277, 1282, 1285, 1287, 1291, 1292,
       1293, 1294, 1296, 1299, 1300, 1303, 1306, 1314, 1315, 1317, 1318,
       1319, 1324, 1327, 1330, 1331, 1334, 1339, 1342, 1344, 1345, 1352,
       1356, 1359, 1360, 1361, 1362, 1367, 1368, 1371, 1376, 1377, 1381,
       1382, 1383, 1384, 1386, 1387, 1388, 1390, 1391, 1392, 1393, 1394,
       1396, 1397, 1399, 1400, 1404, 1405, 1409, 1411, 1412, 1414, 1415,
       1419, 1425, 1426, 1427, 1428, 1430, 1431, 1433, 1434, 1435, 1436,
       1439, 1440, 1441, 1442, 1450, 1453, 1457, 1462, 1463, 1464, 1468,
       1470, 1471, 1482, 1483, 1489, 1490, 1491, 1493, 1494, 1496, 1500,
       1501, 1502, 1503, 1506, 1511, 1515, 1517, 1518, 1519, 1522, 1523,
       1524, 1525, 1527, 1531, 1533, 1534, 1535, 1536, 1539, 1540, 1541,
       1543, 1545, 1549, 1555, 1556, 1557, 1560, 1562, 1564, 1568, 1569,
       1571, 1573, 1574, 1585, 1586, 1588, 1592, 1596, 1597, 1598, 1599,
       1603, 1604, 1605, 1607, 1613, 1614, 1615, 1616, 1617, 1621, 1623,
       1624, 1628, 1629, 1631, 1632, 1633, 1638, 1639, 1640, 1642, 1643,
       1644, 1649, 1650, 1652, 1655, 1660, 1663, 1665, 1667, 1668, 1676,
       1677, 1678, 1679, 1681, 1682, 1683, 1685, 1692, 1693, 1696, 1698,
       1701, 1702, 1704, 1705, 1708, 1714, 1715, 1717, 1718, 1720, 1724,
       1725, 1726, 1728, 1730, 1732, 1736, 1739, 1741, 1752, 1754, 1755,
       1756, 1757, 1758, 1759, 1761, 1764, 1766, 1770, 1775, 1776, 1778,
       1780, 1781, 1784, 1785, 1787, 1788, 1790, 1791, 1793, 1794, 1795,
       1797, 1799, 1802, 1803, 1804, 1807, 1810, 1815, 1819, 1821, 1822,
       1825, 1829, 1830, 1833, 1834, 1835, 1840, 1842, 1844, 1846, 1849,
       1851, 1859, 1863, 1865, 1866, 1867, 1868, 1870, 1872, 1879, 1881,
       1885, 1886, 1888, 1889, 1892, 1896, 1900, 1903, 1907, 1909, 1917,
       1919, 1924, 1925, 1929, 1930, 1932, 1935, 1939, 1942, 1944, 1948,
       1956, 1959, 1962, 1963, 1971, 1972, 1974, 1977, 1978, 1979, 1980,
       1981, 1984, 1986, 1988, 1994, 1998, 2000, 2001, 2002, 2004, 2011,
       2015, 2017, 2018, 2019, 2020, 2021, 2022, 2025, 2026, 2029, 2032,
       2034, 2036, 2038, 2041, 2042, 2043, 2044, 2045, 2048, 2050, 2051,
       2053, 2054, 2056, 2059, 2060, 2061, 2063, 2068, 2069, 2072, 2075,
       2076, 2078, 2080, 2088, 2090, 2095, 2097, 2098, 2100, 2102, 2105,
       2110, 2112, 2116, 2119, 2120, 2121, 2124, 2130, 2133, 2136, 2137,
       2139, 2140, 2141, 2142, 2146, 2147, 2148, 2150, 2152, 2153, 2154,
       2155, 2156, 2161, 2164, 2165, 2169, 2180, 2183, 2189, 2191, 2195,
       2198, 2199, 2200, 2205, 2207, 2209, 2212, 2215, 2216, 2218, 2219,
       2222, 2223, 2225, 2226, 2230, 2233, 2234, 2239]), 2: array([  48,   90,  122,  137,  148,  160,  165,  172,  178,  216,  259,
        293,  311,  328,  362,  380,  383,  607,  613,  616,  635,  675,
        701,  728,  849,  857,  867,  882,  886,  953,  971,  977, 1127,
       1241, 1323, 1372, 1418, 1420, 1487, 1558, 1576, 1580, 1661, 1856,
       1933, 2129, 2229, 2236])}
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x127acdbb0>
{(0, 0): array([ 164,  655,  981, 1042, 1245, 1653, 1898, 1975, 2132, 2214]), (0, 1): array([ 687,  774, 1328, 1806, 2228]), (0, 2): array([ 174,  205,  239,  376,  445,  553,  568,  621,  665,  666,  696,
        759,  810,  823,  995, 1068, 1118, 1152, 1170, 1192, 1208, 1219,
       1290, 1416, 1424, 1437, 1514, 1727, 1731, 1746, 1861, 2016, 2091,
       2113]), (0, 3): array([  11,   14,   25,   30,   31,   38,   42,   46,   78,   83,  100,
        101,  184,  208,  233,  290,  306,  331,  388,  435,  442,  444,
        462,  493,  496,  501,  502,  504,  536,  583,  589,  600,  606,
        608,  633,  663,  664,  693,  725,  776,  792,  806,  838,  850,
        856,  862,  881,  944, 1013, 1023, 1028, 1073, 1106, 1117, 1128,
       1138, 1166, 1171, 1189, 1207, 1256, 1302, 1326, 1337, 1338, 1346,
       1380, 1402, 1423, 1472, 1477, 1529, 1546, 1547, 1583, 1600, 1611,
       1645, 1654, 1664, 1694, 1740, 1742, 1768, 1769, 1774, 1838, 1847,
       1874, 1875, 1884, 1901, 1908, 1938, 1941, 1985, 1987, 2003, 2005,
       2007, 2027, 2055, 2066, 2077, 2089, 2157, 2178, 2184, 2192, 2197,
       2208, 2232]), (0, 4): array([   0,   32,   43,   64,   74,  109,  149,  166,  180,  186,  226,
        231,  241,  272,  281,  309,  339,  341,  345,  356,  359,  386,
        393,  403,  484,  489,  497,  508,  528,  537,  541,  546,  558,
        559,  643,  653,  656,  680,  689,  691,  692,  695,  723,  736,
        765,  768,  777,  787,  790,  817,  824,  828,  870,  871,  896,
        901,  936, 1001, 1004, 1005, 1019, 1043, 1045, 1046, 1056, 1082,
       1087, 1107, 1139, 1143, 1148, 1157, 1182, 1188, 1190, 1193, 1196,
       1202, 1209, 1232, 1236, 1254, 1268, 1270, 1298, 1335, 1343, 1351,
       1375, 1403, 1438, 1456, 1473, 1475, 1478, 1486, 1528, 1550, 1553,
       1578, 1590, 1594, 1620, 1625, 1634, 1675, 1707, 1712, 1771, 1798,
       1831, 1841, 1853, 1857, 1880, 1882, 1897, 1916, 1918, 1920, 1949,
       1950, 1964, 1983, 1991, 1996, 2030, 2046, 2052, 2065, 2067, 2079,
       2099, 2104, 2106, 2108, 2122, 2135, 2143, 2145, 2149, 2160, 2182,
       2196, 2204, 2206, 2235]), (0, 5): array([  20,   24,   39,   40,   76,   89,  104,  111,  116,  130,  152,
        156,  176,  198,  218,  248,  253,  256,  270,  277,  288,  289,
        323,  325,  332,  352,  354,  358,  424,  437,  441,  466,  483,
        512,  514,  531,  535,  565,  570,  573,  581,  586,  591,  627,
        654,  657,  676,  682,  700,  708,  715,  720,  744,  750,  756,
        764,  779,  789,  794,  839,  848,  875,  894,  895,  911,  929,
        934,  943,  959,  963, 1011, 1030, 1031, 1035, 1057, 1080, 1085,
       1089, 1096, 1111, 1115, 1124, 1158, 1164, 1172, 1181, 1198, 1205,
       1243, 1253, 1284, 1286, 1295, 1301, 1312, 1321, 1329, 1353, 1358,
       1366, 1369, 1370, 1385, 1406, 1413, 1417, 1447, 1449, 1454, 1465,
       1504, 1507, 1563, 1565, 1575, 1581, 1591, 1593, 1608, 1618, 1656,
       1670, 1684, 1686, 1697, 1709, 1735, 1749, 1750, 1751, 1777, 1820,
       1827, 1860, 1887, 1890, 1894, 1911, 1913, 1940, 1957, 1970, 1973,
       1993, 2010, 2074, 2081, 2082, 2138, 2168, 2173]), (0, 6): array([  17,   33,   59,   70,   87,   96,  103,  126,  145,  151,  155,
        158,  167,  197,  210,  217,  247,  249,  268,  282,  298,  308,
        336,  347,  382,  392,  411,  459,  494,  521,  522,  527,  543,
        610,  622,  624,  631,  641,  642,  644,  672,  683,  684,  698,
        707,  739,  754,  771,  807,  809,  812,  841,  902,  903,  909,
        915,  917,  921,  925,  928,  942,  956,  984, 1040, 1059, 1074,
       1084, 1100, 1119, 1154, 1160, 1175, 1180, 1213, 1250, 1265, 1269,
       1336, 1340, 1341, 1365, 1378, 1379, 1389, 1429, 1484, 1505, 1520,
       1537, 1552, 1582, 1587, 1595, 1622, 1641, 1646, 1658, 1659, 1671,
       1673, 1691, 1716, 1738, 1767, 1786, 1808, 1812, 1813, 1826, 1837,
       1843, 1845, 1848, 1869, 1893, 1895, 1902, 1905, 1922, 1928, 1961,
       1999, 2023, 2103, 2114, 2134, 2151, 2159, 2177, 2179, 2187, 2188,
       2194, 2201, 2202, 2224]), (0, 7): array([   6,   53,   88,   99,  125,  128,  133,  141,  150,  168,  200,
        221,  257,  447,  451,  478,  486,  513,  518,  538,  557,  561,
        564,  588,  594,  609,  611,  620,  626,  634,  637,  649,  690,
        703,  737,  749,  766,  769,  791,  795,  796,  805,  815,  822,
        831,  832,  844,  845,  854,  897,  906,  914,  916,  918,  941,
        973,  979,  986, 1016, 1017, 1032, 1034, 1050, 1090, 1092, 1101,
       1151, 1162, 1210, 1242, 1279, 1283, 1332, 1347, 1348, 1354, 1364,
       1373, 1455, 1460, 1474, 1498, 1526, 1548, 1551, 1561, 1579, 1635,
       1636, 1648, 1680, 1687, 1711, 1722, 1744, 1745, 1753, 1773, 1811,
       1854, 1864, 1906, 1927, 1931, 1946, 1955, 1968, 2008, 2028, 2035,
       2085, 2086, 2087, 2092, 2093, 2094, 2128, 2167, 2170, 2175, 2181,
       2210, 2217]), (0, 8): array([  12,   63,   79,   92,  112,  175,  187,  228,  244,  266,  278,
        283,  324,  338,  343,  357,  368,  369,  390,  409,  414,  423,
        458,  460,  463,  468,  477,  506,  530,  544,  552,  575,  639,
        673,  674,  713,  716,  721,  729,  757,  797,  820,  846,  847,
        865,  866,  868,  910,  957,  961,  985,  999, 1010, 1015, 1039,
       1058, 1064, 1066, 1067, 1071, 1095, 1097, 1134, 1168, 1169, 1201,
       1226, 1228, 1261, 1280, 1304, 1305, 1316, 1407, 1445, 1448, 1452,
       1461, 1466, 1469, 1488, 1516, 1577, 1609, 1627, 1699, 1760, 1762,
       1796, 1809, 1814, 1818, 1862, 1876, 1891, 1899, 1904, 1915, 1937,
       1953, 1976, 1989, 1990, 1995, 1997, 2006, 2013, 2033, 2040, 2062,
       2070, 2096, 2107, 2118, 2126, 2131, 2144, 2162, 2166, 2174, 2213,
       2227]), (0, 9): array([  18,   22,   23,   34,   45,   77,  132,  143,  161,  188,  201,
        202,  209,  211,  214,  243,  279,  292,  301,  305,  350,  365,
        401,  418,  430,  449,  456,  465,  515,  523,  566,  592,  602,
        619,  638,  650,  660,  671,  718,  800,  813,  818,  851,  919,
        926,  930,  946,  949,  966,  983,  987, 1000, 1025, 1052, 1072,
       1075, 1113, 1120, 1130, 1133, 1137, 1195, 1204, 1222, 1225, 1278,
       1349, 1398, 1401, 1408, 1446, 1451, 1459, 1497, 1512, 1513, 1538,
       1612, 1619, 1690, 1703, 1719, 1763, 1816, 1817, 1824, 1828, 1839,
       1877, 1934, 1936, 1954, 1982, 2012, 2158, 2211]), (0, 10): array([   2,    5,   29,   50,   56,   62,   67,   68,  120,  142,  159,
        163,  203,  240,  261,  276,  307,  313,  353,  360,  361,  378,
        395,  415,  454,  487,  519,  526,  587,  603,  670,  686,  699,
        711,  751,  762,  780,  852,  859,  884,  889,  900,  905,  912,
        927,  932,  945,  970,  990,  996, 1006, 1029, 1099, 1140, 1159,
       1163, 1177, 1179, 1191, 1206, 1211, 1216, 1218, 1281, 1288, 1289,
       1310, 1311, 1313, 1350, 1357, 1421, 1443, 1444, 1476, 1492, 1510,
       1542, 1544, 1566, 1572, 1602, 1626, 1672, 1710, 1734, 1748, 1782,
       1783, 1800, 1852, 1855, 1878, 1914, 1945, 1947, 1951, 1952, 1958,
       1960, 1966, 2009, 2037, 2039, 2049, 2071, 2115, 2127, 2176, 2193,
       2220, 2238]), (0, 11): array([  60,  102,  110,  113,  154,  222,  227,  234,  237,  295,  340,
        342,  366,  417,  450,  461,  475,  495,  498,  507,  636,  685,
        702,  727,  740,  745,  753,  825,  892,  937,  938,  965, 1007,
       1049, 1061, 1062, 1076, 1105, 1110, 1129, 1153, 1212, 1252, 1257,
       1259, 1262, 1275, 1297, 1355, 1363, 1374, 1432, 1467, 1606, 1610,
       1669, 1689, 1700, 1789, 1871, 1873, 1883, 1926, 1969, 1992, 2031,
       2073, 2084, 2101, 2117, 2163, 2172, 2186, 2203, 2221]), (0, 12): array([  15,   36,   98,  107,  140,  179,  191,  196,  224,  275,  299,
        312,  320,  335,  373,  394,  412,  429,  436,  490,  505,  509,
        511,  563,  601,  632,  648,  652,  677,  688,  726,  747,  767,
        770,  798,  804,  814,  835,  837,  855,  878,  976, 1047, 1055,
       1165, 1199, 1237, 1307, 1309, 1320, 1322, 1395, 1410, 1422, 1458,
       1480, 1481, 1509, 1521, 1554, 1567, 1570, 1589, 1601, 1637, 1647,
       1651, 1662, 1666, 1688, 1713, 1721, 1733, 1765, 1772, 1805, 1823,
       1850, 1858, 1921, 1943, 1965, 1967, 2047, 2058, 2064, 2109, 2123,
       2125, 2171, 2190, 2231]), (0, 13): array([  51,   55,   72,   84,  124,  135,  182,  252,  286,  387,  426,
        433,  470,  485,  492,  499,  554,  562,  614,  640,  646,  658,
        662,  679,  681,  735,  752,  755,  803,  885,  960,  974,  975,
        988, 1069, 1144, 1150, 1187, 1249, 1251, 1271, 1308, 1325, 1333,
       1479, 1485, 1495, 1499, 1508, 1530, 1532, 1559, 1584, 1630, 1657,
       1674, 1695, 1706, 1723, 1729, 1737, 1743, 1747, 1779, 1792, 1801,
       1832, 1836, 1910, 1912, 1923, 2014, 2024, 2057, 2083, 2111, 2185,
       2237]), (1, 0): array([   9,   21,   27, 1524, 1846]), (1, 1): array([ 617, 1300]), (1, 2): array([   1,    8,   10,   37,   47,   65,   66,   75,   81,   91,  138,
        147,  185,  190,  192,  195,  229,  232,  242,  260,  263,  267,
        269,  285,  321,  322,  330,  333,  344,  349,  363,  372,  375,
        384,  385,  397,  408,  422,  425,  467,  471,  474,  480,  482,
        500,  548,  551,  567,  569,  590,  595,  605,  694,  709,  710,
        719,  724,  738,  748,  763,  775,  782,  783,  816,  853,  880,
        893,  907,  954,  968,  980, 1008, 1009, 1024, 1026, 1027, 1038,
       1044, 1051, 1053, 1063, 1079, 1088, 1098, 1112, 1116, 1131, 1142,
       1149, 1176, 1184, 1203, 1221, 1223, 1227, 1246, 1247, 1248, 1258,
       1260, 1264, 1276, 1287, 1291, 1293, 1296, 1319, 1330, 1344, 1352,
       1356, 1361, 1377, 1383, 1393, 1396, 1409, 1412, 1426, 1427, 1435,
       1441, 1511, 1527, 1533, 1536, 1557, 1562, 1585, 1592, 1605, 1614,
       1616, 1628, 1633, 1652, 1663, 1692, 1693, 1696, 1720, 1732, 1757,
       1778, 1795, 1804, 1819, 1825, 1829, 1851, 1881, 1886, 1896, 1909,
       1919, 1978, 1979, 2001, 2002, 2072, 2076, 2119, 2121, 2133, 2137,
       2139, 2146, 2191, 2200, 2209, 2215, 2218, 2222, 2230, 2234]), (1, 3): array([  16,   19,   35,   41,   44,   52,   58,   71,   82,   93,   94,
         95,   97,  105,  108,  115,  118,  119,  121,  123,  136,  139,
        144,  146,  157,  169,  170,  171,  173,  177,  181,  183,  189,
        193,  199,  204,  206,  236,  238,  245,  250,  251,  255,  265,
        284,  291,  294,  296,  297,  300,  302,  304,  310,  315,  316,
        318,  327,  334,  337,  346,  348,  355,  367,  370,  374,  377,
        379,  381,  398,  399,  400,  405,  410,  416,  420,  421,  439,
        440,  443,  448,  464,  473,  476,  481,  488,  510,  516,  517,
        520,  524,  525,  534,  539,  540,  542,  549,  550,  571,  572,
        574,  576,  577,  582,  584,  593,  596,  597,  598,  604,  612,
        618,  623,  625,  628,  651,  659,  661,  667,  668,  678,  697,
        706,  712,  717,  722,  730,  741,  742,  758,  760,  778,  781,
        784,  785,  799,  801,  811,  819,  821,  827,  829,  830,  833,
        834,  840,  843,  858,  860,  869,  872,  879,  883,  887,  890,
        899,  908,  920,  933,  935,  948,  950,  951,  962,  982,  989,
        991,  997, 1003, 1018, 1020, 1021, 1033, 1041, 1054, 1065, 1070,
       1077, 1083, 1086, 1093, 1104, 1114, 1132, 1136, 1146, 1155, 1174,
       1183, 1185, 1220, 1229, 1231, 1233, 1234, 1238, 1240, 1263, 1267,
       1274, 1277, 1282, 1285, 1299, 1315, 1317, 1318, 1324, 1339, 1345,
       1367, 1382, 1384, 1386, 1387, 1388, 1390, 1392, 1394, 1397, 1414,
       1428, 1430, 1431, 1433, 1440, 1442, 1453, 1462, 1463, 1464, 1468,
       1470, 1471, 1482, 1483, 1496, 1501, 1518, 1519, 1522, 1523, 1534,
       1543, 1545, 1549, 1555, 1564, 1571, 1573, 1599, 1603, 1604, 1629,
       1638, 1639, 1640, 1643, 1650, 1655, 1665, 1677, 1679, 1681, 1683,
       1685, 1698, 1701, 1704, 1714, 1717, 1725, 1730, 1739, 1752, 1754,
       1756, 1761, 1764, 1766, 1770, 1780, 1790, 1793, 1794, 1797, 1810,
       1815, 1821, 1830, 1835, 1842, 1849, 1866, 1867, 1870, 1872, 1892,
       1900, 1903, 1907, 1917, 1925, 1932, 1935, 1942, 1944, 1948, 1956,
       1963, 1971, 1981, 1994, 2000, 2015, 2017, 2018, 2019, 2021, 2026,
       2029, 2032, 2034, 2038, 2042, 2043, 2050, 2053, 2054, 2060, 2061,
       2063, 2069, 2078, 2095, 2100, 2102, 2105, 2112, 2116, 2130, 2136,
       2140, 2141, 2147, 2150, 2152, 2153, 2154, 2164, 2165, 2169, 2180,
       2183, 2189, 2195, 2199, 2207, 2212, 2216, 2233]), (1, 4): array([   3,    7,   26,   28,   57,   80,   85,   86,  106,  127,  153,
        162,  220,  223,  225,  235,  258,  264,  271,  273,  274,  280,
        303,  326,  329,  371,  396,  406,  428,  434,  438,  446,  452,
        479,  545,  547,  560,  578,  579,  585,  599,  629,  704,  733,
        734,  743,  746,  773,  786,  802,  842,  861,  864,  873,  876,
        877,  913,  922,  923,  931,  952,  955,  958,  967,  972,  978,
        994, 1002, 1012, 1014, 1022, 1036, 1037, 1081, 1091, 1094, 1121,
       1123, 1141, 1145, 1167, 1173, 1178, 1186, 1194, 1215, 1217, 1224,
       1230, 1244, 1272, 1292, 1294, 1303, 1327, 1359, 1368, 1371, 1381,
       1391, 1399, 1405, 1419, 1425, 1439, 1450, 1457, 1491, 1494, 1515,
       1517, 1540, 1556, 1560, 1586, 1596, 1597, 1607, 1621, 1632, 1649,
       1667, 1676, 1682, 1702, 1705, 1718, 1755, 1758, 1776, 1781, 1785,
       1787, 1791, 1802, 1807, 1822, 1833, 1840, 1863, 1868, 1889, 1930,
       1939, 1959, 1962, 1977, 1980, 1988, 2004, 2011, 2020, 2025, 2045,

In [48]:
for key,values in grouped:
    print(key)

for key,values in grouped_purchase_visit:
    print(key)

0
1
2
(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)
(0, 6)
(0, 7)
(0, 8)
(0, 9)
(0, 10)
(0, 11)
(0, 12)
(0, 13)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(1, 10)
(1, 11)
(1, 12)
(1, 13)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 8)
(2, 11)

In [56]:
for key,values in grouped_purchase_visit:
    print(f'grouped based on kids at home {key[0]} and number of purchases {key[1]} :')
    print(30*'-')
    print(values.head(3))

grouped based on kids at home 0 and number of purchases 0 :
------------------------------
       ID  Year_Birth   Education Marital_Status    Income  Kidhome  Teenhome  \
164  8475        1973         PhD        Married  157243.0        0         1
655  5555        1975  Graduation       Divorced  153924.0        0         0
981  3955        1965  Graduation       Divorced    4861.0        0         0

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
164  01-03-2014       98                  0                  0
655  07-02-2014       81                  0                  0
981  22-06-2014       20                  0                 14
grouped based on kids at home 0 and number of purchases 1 :
------------------------------
        ID  Year_Birth Education Marital_Status    Income  Kidhome  Teenhome  \
687   1501        1982       PhD        Married  160803.0        0         0
774   4303        1957       PhD       Together    6835.0        0         1
1328  4246        1982    Master         Single    6560.0        0         0

     Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
687   04-08-2012       21                  1                  0
774   08-12-2012       76                  1                 20
1328  12-12-2013        2                  1                 17
grouped based on kids at home 0 and number of purchases 2 :
------------------------------
        ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
174    641        1967  Graduation         Single  52074.0        0         1
205    624        1984      Master         Single  18890.0        0         0
239  11004        1893    2n Cycle         Single  60182.0        0         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
174  04-04-2014       77                  2                  4
205  10-11-2012        5                  2                  6
239  17-05-2014       23                  2                  4
grouped based on kids at home 0 and number of purchases 3 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
11   387        1976       Basic        Married   7500.0        0         0
14  2569        1987  Graduation        Married  17323.0        0         0
25  7892        1969  Graduation         Single  18589.0        0         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
11  13-11-2012       59                  3                  8
14  10-10-2012       38                  3                  8
25  02-01-2013       89                  3                  7
grouped based on kids at home 0 and number of purchases 4 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0   5524        1957  Graduation         Single  58138.0        0         0
32  5710        1970  Graduation       Together  40548.0        0         1
43  7281        1959         PhD         Single      NaN        0         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
0   04-09-2012       58                  4                  7
32  10-10-2012       31                  4                  5
43  05-11-2013       80                  4                  2
grouped based on kids at home 0 and number of purchases 5 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
20  9360        1982  Graduation        Married  37040.0        0         0
24  1409        1951  Graduation       Together  40689.0        0         1
39  2968        1943         PhD       Divorced  48948.0        0         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
20  08-08-2012       41                  5                  8
24  18-03-2013       69                  5                  8
39  01-02-2013       53                  5                  6
grouped based on kids at home 0 and number of purchases 6 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
17  4939        1946  Graduation       Together  37760.0        0         0
33  7373        1952         PhD       Divorced  46610.0        0         2
59  8375        1968         PhD        Married  55954.0        0         1

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
17  31-08-2012       20                  6                  7
33  29-10-2012        8                  6                  6
59  03-03-2014       63                  6                  7
grouped based on kids at home 0 and number of purchases 7 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
6    965        1971  Graduation       Divorced  55635.0        0         1
53  2225        1977  Graduation       Divorced  82582.0        0         0
88  8504        1973  Graduation        Married  79593.0        0         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
6   13-11-2012       34                  7                  6
53  07-06-2014       54                  7                  1
88  12-05-2014       70                  7                  2
grouped based on kids at home 0 and number of purchases 8 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
12  2125        1959  Graduation       Divorced  63033.0        0         0
63  6518        1951         PhD          Widow  67680.0        0         1
79  1618        1965  Graduation       Together  56046.0        0         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
12  15-11-2013       82                  8                  2
63  11-06-2013        8                  8                  5
79  02-01-2013        9                  8                  8
grouped based on kids at home 0 and number of purchases 9 :
------------------------------
      ID  Year_Birth Education Marital_Status   Income  Kidhome  Teenhome  \
18  6565        1949    Master        Married  76995.0        0         1
22  1993        1949       PhD        Married  58607.0        0         1
23  4047        1954       PhD        Married  65324.0        0         1

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
18  28-03-2013       91                  9                  5
22  23-12-2012       63                  9                  8
23  11-01-2014        0                  9                  4
grouped based on kids at home 0 and number of purchases 10 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
2   4141        1965  Graduation       Together  71613.0        0         0
5   7446        1967      Master       Together  62513.0        0         1
29  1966        1965         PhD        Married  84618.0        0         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
2   21-08-2013       26                 10                  4
5   09-09-2013       16                 10                  6
29  22-11-2013       96                 10                  2
grouped based on kids at home 0 and number of purchases 11 :
------------------------------
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
60   6853        1982      Master         Single  75777.0        0         0
102  4518        1979  Graduation       Together  85693.0        0         1
110  5077        1979  Graduation       Together  77298.0        0         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
60   04-07-2013       12                 11                  1
102  20-04-2013       59                 11                  5
110  02-11-2013       46                 11                  3
grouped based on kids at home 0 and number of purchases 12 :
------------------------------
      ID  Year_Birth Education Marital_Status   Income  Kidhome  Teenhome  \
15  2114        1946       PhD         Single  82800.0        0         0
36  4339        1970       PhD        Married  67353.0        0         1
98  4646        1951  2n Cycle        Married  78497.0        0         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
15  24-11-2012       23                 12                  3
36  31-12-2013       37                 12                  2
98  01-12-2013       44                 12                  2
grouped based on kids at home 0 and number of purchases 13 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
51  4114        1964      Master        Married  79143.0        0         0
55  6260        1955      Master       Together  82384.0        0         0
72  6312        1959  Graduation        Married  65031.0        0         1

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
51  11-08-2012        2                 13                  3
55  19-11-2012       55                 13                  1
72  17-03-2013       29                 13                  7
grouped based on kids at home 1 and number of purchases 0 :
------------------------------
      ID  Year_Birth   Education Marital_Status  Income  Kidhome  Teenhome  \
9   5899        1950         PhD       Together  5648.0        1         1
21  5376        1979  Graduation        Married  2447.0        1         0
27  5255        1986  Graduation         Single     NaN        1         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
9   13-03-2014       68                  0                 20
21  06-01-2013       42                  0                  1
27  20-02-2013       19                  0                  1
grouped based on kids at home 1 and number of purchases 1 :
------------------------------
        ID  Year_Birth Education Marital_Status    Income  Kidhome  Teenhome  \
617   1503        1976       PhD       Together  162397.0        1         1
1300  5336        1971    Master       Together  157733.0        1         0

     Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
617   03-06-2013       31                  1                  1
1300  04-06-2013       37                  1                  1
grouped based on kids at home 1 and number of purchases 2 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
1   2174        1954  Graduation         Single  46344.0        1         1
8   4855        1974         PhD       Together  30351.0        1         0
10  1994        1983  Graduation        Married      NaN        1         0

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
1   08-03-2014       38                  2                  5
8   06-06-2013       19                  2                  9
10  15-11-2013       11                  2                  7
grouped based on kids at home 1 and number of purchases 3 :
------------------------------
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
16   9736        1980  Graduation        Married  41850.0        1         1
19   2278        1985    2n Cycle         Single  33812.0        1         0
35  10738        1951      Master         Single  49389.0        1         1

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
16  24-12-2012       51                  3                  8
19  03-11-2012       86                  3                  6
35  29-08-2013       55                  3                  7
grouped based on kids at home 1 and number of purchases 4 :
------------------------------
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
3   6182        1984  Graduation       Together  26646.0        1         0
7   6177        1985         PhD        Married  33454.0        1         0
26  2404        1976  Graduation        Married  53359.0        1         1

   Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
3   10-02-2014       26                  4                  6
7   08-05-2013       32                  4                  8
26  27-05-2013        4                  4                  7
grouped based on kids at home 1 and number of purchases 5 :
------------------------------
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
13   8180        1952      Master       Divorced  59354.0        1         1
69   1357        1970  Graduation       Together  74854.0        1         2
117   367        1978    2n Cycle        Married  36550.0        1         0

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
13   15-11-2013       53                  5                  6
69   08-04-2013       90                  5                  5
117  19-02-2013       74                  5                  9
grouped based on kids at home 1 and number of purchases 6 :
------------------------------
       ID  Year_Birth Education Marital_Status   Income  Kidhome  Teenhome  \
4    5324        1981       PhD        Married  58293.0        1         0
114  9215        1980       PhD        Married  43974.0        1         0
131   433        1958    Master          Alone  61331.0        1         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
4    19-01-2014       94                  6                  5
114  12-12-2012       19                  6                  7
131  10-03-2013       42                  6                  8
grouped based on kids at home 1 and number of purchases 7 :
------------------------------
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
413  7422        1987  Graduation         Single  46923.0        1         0
431  4324        1989  Graduation        Married  42387.0        1         0
772  8897        1965  Graduation         Single  42720.0        1         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
413  22-08-2012       90                  7                  7
431  29-10-2012       42                  7                  8
772  24-04-2013        9                  7                  8
grouped based on kids at home 1 and number of purchases 8 :
------------------------------
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
73   8132        1975         PhD        Married  60631.0        1         1
213  2877        1974      Master       Together  46014.0        1         1
230  6798        1966  Graduation         Single  37070.0        1         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
73   05-04-2013       88                  8                  7
213  21-01-2013       21                  8                  7
230  20-03-2013       30                  8                  7
grouped based on kids at home 1 and number of purchases 9 :
------------------------------
      ID  Year_Birth Education Marital_Status   Income  Kidhome  Teenhome  \
432  238        1967  2n Cycle       Together  67309.0        1         1
472  564        1981       PhD       Together  56937.0        1         0
939  760        1975       PhD       Divorced  60554.0        1         0

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
432  23-01-2013       76                  9                  7
472  04-08-2012       81                  9                  6
939  09-08-2013        8                  9                  6
grouped based on kids at home 1 and number of purchases 10 :
------------------------------
        ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
54    9381        1978  Graduation        Married  66373.0        1         1
129  11051        1956         PhD       Together  77376.0        1         1
319   2863        1970  Graduation         Single      NaN        1         2

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
54   12-06-2013       57                 10                  3
129  10-05-2014       72                 10                  4
319  23-08-2013       67                 10                  7
grouped based on kids at home 1 and number of purchases 11 :
------------------------------
        ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
219    454        1980  Graduation       Together  69508.0        1         0
254  10992        1967  Graduation       Together  75702.0        1         1
556    448        1978         PhD         Single  54880.0        1         0

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
219  14-11-2012       48                 11                  6
254  29-08-2012       77                 11                  8
556  01-03-2013       57                 11                  5
grouped based on kids at home 1 and number of purchases 12 :
------------------------------
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
49   6566        1954         PhD        Married  72550.0        1         1
61   3076        1975  Graduation       Together  66653.0        1         1
287  8148        1956      Master       Together  50898.0        1         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
49   08-11-2012       39                 12                  8
61   07-09-2012       18                 12                  3
287  08-01-2013       88                 12                  5
grouped based on kids at home 1 and number of purchases 13 :
------------------------------
         ID  Year_Birth   Education Marital_Status   Income  Kidhome  \
630   10727        1970         PhD        Married  69084.0        1
1598   7022        1971  Graduation        Married  76445.0        1
1615  10099        1984  Graduation        Married  55434.0        1

      Teenhome Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
630          0  19-11-2013       43                 13                  8
1598         0  28-09-2012        2                 13                  6
1615         0  05-10-2013       21                 13                  4
grouped based on kids at home 2 and number of purchases 2 :
------------------------------
       ID  Year_Birth Education Marital_Status   Income  Kidhome  Teenhome  \
137  9579        1959       PhD        Married  33762.0        2         1
160  2795        1958    Master         Single  30523.0        2         1
216  7264        1978  2n Cycle         Single  52195.0        2         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
137  07-07-2013       61                  2                  8
160  01-07-2013        0                  2                  7
216  12-05-2014        2                  2                  8
grouped based on kids at home 2 and number of purchases 3 :
------------------------------
        ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
122   8442        1985      Master        Married  19510.0        2         0
172   1349        1970  Graduation        Married  50447.0        2         0
178  10492        1959  Graduation       Together  38285.0        2         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
122  04-09-2013       63                  3                  7
172  21-04-2014        4                  3                  6
178  24-06-2014       96                  3                  2
grouped based on kids at home 2 and number of purchases 4 :
------------------------------
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
48   7244        1951  Graduation         Single      NaN        2         1
148  5885        1973    2n Cycle        Married  35688.0        2         1
165  4370        1966  Graduation       Together  43482.0        2         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
48   01-01-2014       96                  4                  6
148  22-08-2012       94                  4                  8

In [66]:
for key, values in grouped_purchase_visit:
    print(key)


# visulaizing one particular group:
specific_key = (1,11)
ans = grouped_purchase_visit.get_group(specific_key)
ans

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)
(0, 6)
(0, 7)
(0, 8)
(0, 9)
(0, 10)
(0, 11)
(0, 12)
(0, 13)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(1, 10)
(1, 11)
(1, 12)
(1, 13)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 8)
(2, 11)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
219,454,1980,Graduation,Together,69508.0,1,0,14-11-2012,48,11,6
254,10992,1967,Graduation,Together,75702.0,1,1,29-08-2012,77,11,8
556,448,1978,PhD,Single,54880.0,1,0,01-03-2013,57,11,5
1235,843,1971,Graduation,Married,64722.0,1,0,26-05-2014,47,11,6
1924,7966,1959,Graduation,Single,80982.0,1,1,08-01-2013,48,11,5

In [14]:


# appending


data1 = pd.read_csv('data/marketing_campaign_append1.csv')

print(data2.shape)

(500, 29)

In [15]:
data2 = pd.read_csv('data/marketing_campaign_append2.csv')

print(data2.shape)

(500, 29)

In [8]:
sample1 = data1[['ID', 'Year_Birth','Education','Marital_Status','Income','Kidhome','Teenhome','Dt_Customer','Recency','NumStorePurchases', 'NumWebVisitsMonth']]
print(sample1.shape)

sample2 = data2[['ID', 'Year_Birth','Education','Marital_Status','Income','Kidhome','Teenhome','Dt_Customer',
'Recency','NumStorePurchases', 'NumWebVisitsMonth']]
print(sample2.shape)

(500, 11)
(500, 11)

In [17]:
# append using concat method

concat_data = pd.concat([sample1,sample2]) 
# no axis given, since concat happens on row wise
concat_data
print(concat_data.shape)

(1000, 11)

In [18]:
concat_data.info

<bound method DataFrame.info of         ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0     5524        1957  Graduation         Single  58138.0        0         0
1     2174        1954  Graduation         Single  46344.0        1         1
2     4141        1965  Graduation       Together  71613.0        0         0
3     6182        1984  Graduation       Together  26646.0        1         0
4     5324        1981         PhD        Married  58293.0        1         0
..     ...         ...         ...            ...      ...      ...       ...
495   7646        1989  Graduation         Single  64449.0        1         0
496   1640        1954  Graduation       Divorced  64587.0        1         1
497   5184        1995  Graduation         Single  34824.0        0         0
498   8492        1978  Graduation       Together  75437.0        0         0
499  11188        1957  Graduation       Together  26091.0        1         1

    Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
0    04/09/2012       58                  4                  7
1    08/03/2014       38                  2                  5
2    21/08/2013       26                 10                  4
3    10/02/2014       26                  4                  6
4    19/01/2014       94                  6                  5
..          ...      ...                ...                ...
495  18/02/2014       70                 12                  4
496  22/06/2014       49                  4                  3
497  26/03/2014       65                  2                  6
498  09/11/2013       25                 10                  6
499  25/02/2014       84                  3                  5

[1000 rows x 11 columns]>

In [19]:

# concatinating 

marketing_sample1 = pd.read_csv("data/marketing_campaign_concat1.csv")
marketing_sample2 = pd.read_csv("data/marketing_campaign_concat2.csv")

print("data1 \n",marketing_sample1.shape)
print("data2 \n",marketing_sample2.shape)
marketing_sample1.head(2).T
marketing_sample2.head(2).T

data1
 (2240, 5)
data2
 (2240, 5)

                      0  1
NumDealsPurchases     3  2
NumWebPurchases       8  1
NumCatalogPurchases  10  1
NumStorePurchases     4  2
NumWebVisitsMonth     7  5

In [21]:
marketing_sample1.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income'], dtype='object')

In [22]:
marketing_sample2.columns

Index(['NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases',
       'NumStorePurchases', 'NumWebVisitsMonth'],
      dtype='object')

In [24]:
concated_data = pd.concat([marketing_sample1,marketing_sample2],axis=1)

# axis = 1 indicates, the concat has to happen on the column axis

concated_data

,ID,Year_Birth,Education,Marital_Status,Income,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,3,8,10,4,7
1,2174,1954,Graduation,Single,46344.0,2,1,1,2,5
2,4141,1965,Graduation,Together,71613.0,1,8,2,10,4
3,6182,1984,Graduation,Together,26646.0,2,2,0,4,6
4,5324,1981,PhD,Married,58293.0,5,5,3,6,5
...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,2,9,3,4,5
2236,4001,1946,PhD,Together,64014.0,7,8,2,5,7
2237,7270,1981,Graduation,Divorced,56981.0,1,2,3,13,6
2238,8235,1956,Master,Together,69245.0,2,6,5,10,3
2239,9405,1954,PhD,Married,52869.0,3,3,1,4,7

In [25]:
concated_data.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income',
       'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases',
       'NumStorePurchases', 'NumWebVisitsMonth'],
      dtype='object')

In [98]:
concated_data.shape

(2240, 10)

In [27]:
concat_data[concat_data['NumWebVisitsMonth'] == 1]

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
21,5376,1979,Graduation,Married,2447.0,1,0,06/01/2013,42,0,1
27,5255,1986,Graduation,Single,NaN,1,0,20/02/2013,19,0,1
45,1371,1976,Graduation,Single,79941.0,0,0,28/06/2014,72,9,1
53,2225,1977,Graduation,Divorced,82582.0,0,0,07/06/2014,54,7,1
55,6260,1955,Master,Together,82384.0,0,0,19/11/2012,55,13,1
...,...,...,...,...,...,...,...,...,...,...,...
436,4843,1952,Graduation,Single,75127.0,0,0,22/05/2014,92,5,1
444,6810,1983,Graduation,Divorced,82025.0,0,0,28/05/2013,76,6,1
472,10981,1988,Graduation,Married,84219.0,0,0,02/02/2014,27,10,1
478,2611,1959,Master,Together,82576.0,0,0,01/08/2012,66,12,1
492,8545,1954,Graduation,Divorced,85683.0,0,0,21/03/2014,6,10,1

In [ ]:
# merge


# merge has to have a common field

# common column / key -> this column don't need to have the same name, but need to have matching value

In [39]:
# left join

# we retain all the rows in the left dataset, and values do no match in the right dataset will reflect as NAN

data1 = pd.read_csv('data/marketing_campaign_merge1.csv')
print(" \n sahpe of data1 \n", data1.shape)
print("data1 \n",data1.head(5))


data2 = pd.read_csv('data/marketing_campaign_merge2.csv')
print('\n shape of data2 \n',data2.shape)
print("\n data2 \n",data2.head(5))

 sahpe of data1
 (2240, 3)
data1
      ID  Year_Birth   Education
0  5524        1957  Graduation
1  2174        1954  Graduation
2  4141        1965  Graduation
3  6182        1984  Graduation
4  5324        1981         PhD

 shape of data2
 (2240, 3)

 data2
      ID Marital_Status   Income
0  5524         Single  58138.0
1  2174         Single  46344.0
2  4141       Together  71613.0
3  6182       Together  26646.0
4  5324        Married  58293.0

In [42]:
# merge the dataset based on ID

merged_data = pd.merge(data1,data2, on='ID')
merged_data.head(10)

     ID  Year_Birth   Education Marital_Status   Income
0  5524        1957  Graduation         Single  58138.0
1  2174        1954  Graduation         Single  46344.0
2  4141        1965  Graduation       Together  71613.0
3  6182        1984  Graduation       Together  26646.0
4  5324        1981         PhD        Married  58293.0
5  7446        1967      Master       Together  62513.0
6   965        1971  Graduation       Divorced  55635.0
7  6177        1985         PhD        Married  33454.0
8  4855        1974         PhD       Together  30351.0
9  5899        1950         PhD       Together   5648.0

In [43]:


# exercise

print(50*'--')

----------------------------------------------------------------------------------------------------

In [44]:
climate_temp = pd.read_csv('data/climate_temp.csv')
climate_percip = pd.read_csv('data/climate_precip.csv')

In [48]:
print('data 1 \n',climate_temp.head(5))
print('data 2 \n',climate_percip.head(5))

print('\n data 1 columns \n',climate_temp.columns)
print('\n data 2 columns \n',climate_percip.columns)

data 1
              STATION            STATION_NAME ELEVATION  LATITUDE   LONGITUDE  \
0  GHCND:USC00049099  TWENTYNINE PALMS CA US       602  34.12806  -116.03694
1  GHCND:USC00049099  TWENTYNINE PALMS CA US       602  34.12806  -116.03694
2  GHCND:USC00049099  TWENTYNINE PALMS CA US       602  34.12806  -116.03694
3  GHCND:USC00049099  TWENTYNINE PALMS CA US       602  34.12806  -116.03694
4  GHCND:USC00049099  TWENTYNINE PALMS CA US       602  34.12806  -116.03694

       DATE  DLY-CLDD-BASE45  DLY-CLDD-BASE50  DLY-CLDD-BASE55  \
0  20100101                6                2            -7777
1  20100102                6                2                1
2  20100103                6                2                1
3  20100104                6                2                1
4  20100105                6                2                1

   DLY-CLDD-BASE57  ...  DLY-CLDD-NORMAL  DLY-CLDD-BASE70  DLY-CLDD-BASE72  \
0            -7777  ...                0                0                0
1            -7777  ...                0                0                0
2            -7777  ...                0                0                0
3            -7777  ...                0                0                0
4            -7777  ...                0                0                0

   DLY-HTDD-BASE40  DLY-HTDD-BASE45  DLY-HTDD-BASE50  DLY-HTDD-BASE55  \
0            -7777                1                2                6
1            -7777                1                2                6
2            -7777                1                2                5
3            -7777                1                2                5
4            -7777            -7777                2                5

   DLY-HTDD-BASE57  DLY-HTDD-BASE60  DLY-HTDD-NORMAL
0                7               10               15
1                7               10               15
2                7               10               15
3                7               10               15
4                7               10               15

[5 rows x 21 columns]
data 2
              STATION            STATION_NAME      DATE  DLY-PRCP-25PCTL  \
0  GHCND:USC00049099  TWENTYNINE PALMS CA US  20100101            -6.66
1  GHCND:USC00049099  TWENTYNINE PALMS CA US  20100102            -6.66
2  GHCND:USC00049099  TWENTYNINE PALMS CA US  20100103            -6.66
3  GHCND:USC00049099  TWENTYNINE PALMS CA US  20100104            -6.66
4  GHCND:USC00049099  TWENTYNINE PALMS CA US  20100105            -6.66

   DLY-SNWD-25PCTL  DLY-SNOW-25PCTL  DLY-PRCP-50PCTL  DLY-SNWD-50PCTL  \
0             -666            -66.6            -6.66             -666
1             -666            -66.6            -6.66             -666
2             -666            -66.6            -6.66             -666
3            -9999          -9999.0            -6.66            -9999
4            -9999          -9999.0            -6.66            -9999

   DLY-SNOW-50PCTL  DLY-PRCP-75PCTL  ...  DLY-PRCP-PCTALL-GE100HI  \
0            -66.6            -6.66  ...                        3
1            -66.6            -6.66  ...                        3
2            -66.6            -6.66  ...                        3
3          -9999.0            -6.66  ...                        3
4          -9999.0            -6.66  ...                        3

   DLY-SNWD-PCTALL-GE001WI  DLY-SNWD-PCTALL-GE010WI  DLY-SNWD-PCTALL-GE003WI  \
0                    -9999                        0                    -9999
1                    -9999                        0                    -9999
2                    -9999                        0                    -9999
3                        0                        0                        0
4                        0                        0                        0

   DLY-SNWD-PCTALL-GE005WI  DLY-SNOW-PCTALL-GE001TI  DLY-SNOW-PCTALL-GE010TI  \
0                    -9999                    -9999                    -9999
1                    -9999                    -9999                    -9999
2                    -9999                    -9999                    -9999
3                        0                        0                        0
4                        0                        0                        0

   DLY-SNOW-PCTALL-GE100TI  DLY-SNOW-PCTALL-GE030TI  DLY-SNOW-PCTALL-GE050TI
0                        0                    -9999                    -9999
1                        0                    -9999                    -9999
2                        0                    -9999                    -9999
3                        0                        0                        0
4                        0                        0                        0

[5 rows x 29 columns]

 data 1 columns
 Index(['STATION', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE',
       'DLY-CLDD-BASE45', 'DLY-CLDD-BASE50', 'DLY-CLDD-BASE55',
       'DLY-CLDD-BASE57', 'DLY-CLDD-BASE60', 'DLY-CLDD-NORMAL',
       'DLY-CLDD-BASE70', 'DLY-CLDD-BASE72', 'DLY-HTDD-BASE40',
       'DLY-HTDD-BASE45', 'DLY-HTDD-BASE50', 'DLY-HTDD-BASE55',
       'DLY-HTDD-BASE57', 'DLY-HTDD-BASE60', 'DLY-HTDD-NORMAL'],
      dtype='object')

 data 2 columns
 Index(['STATION', 'STATION_NAME', 'DATE', 'DLY-PRCP-25PCTL', 'DLY-SNWD-25PCTL',
       'DLY-SNOW-25PCTL', 'DLY-PRCP-50PCTL', 'DLY-SNWD-50PCTL',
       'DLY-SNOW-50PCTL', 'DLY-PRCP-75PCTL', 'DLY-SNWD-75PCTL',
       'DLY-SNOW-75PCTL', 'MTD-PRCP-NORMAL', 'MTD-SNOW-NORMAL',
       'YTD-PRCP-NORMAL', 'YTD-SNOW-NORMAL', 'DLY-PRCP-PCTALL-GE001HI',
       'DLY-PRCP-PCTALL-GE010HI', 'DLY-PRCP-PCTALL-GE050HI',
       'DLY-PRCP-PCTALL-GE100HI', 'DLY-SNWD-PCTALL-GE001WI',
       'DLY-SNWD-PCTALL-GE010WI', 'DLY-SNWD-PCTALL-GE003WI',
       'DLY-SNWD-PCTALL-GE005WI', 'DLY-SNOW-PCTALL-GE001TI',
       'DLY-SNOW-PCTALL-GE010TI', 'DLY-SNOW-PCTALL-GE100TI',
       'DLY-SNOW-PCTALL-GE030TI', 'DLY-SNOW-PCTALL-GE050TI'],
      dtype='object')

In [116]:

# finding the common columns / possibilities of key


temp_col = climate_temp.columns
perc_col = climate_percip.columns

common = temp_col[temp_col.isin(perc_col)]
common

Index(['STATION', 'STATION_NAME', 'DATE'], dtype='object')

In [54]:
climate_temp.shape

(127020, 21)

In [55]:
climate_percip.shape

(151110, 29)

In [83]:
# inner join

# first select the small slice of the dataset / focus on what we need

# and merge into dataset

percip_specific_station = climate_percip.query("STATION == 'GHCND:USC00045721'")
print("\n data",percip_specific_station)
print("s\n shape \n",percip_specific_station.shape)


# inner join

inner_merged = pd.merge(percip_specific_station, climate_temp)

 data                 STATION            STATION_NAME      DATE  DLY-PRCP-25PCTL  \
1460  GHCND:USC00045721  MITCHELL CAVERNS CA US  20100101             0.04
1461  GHCND:USC00045721  MITCHELL CAVERNS CA US  20100102             0.05
1462  GHCND:USC00045721  MITCHELL CAVERNS CA US  20100103             0.05
1463  GHCND:USC00045721  MITCHELL CAVERNS CA US  20100104             0.05
1464  GHCND:USC00045721  MITCHELL CAVERNS CA US  20100105             0.05
...                 ...                     ...       ...              ...
1820  GHCND:USC00045721  MITCHELL CAVERNS CA US  20101227             0.04
1821  GHCND:USC00045721  MITCHELL CAVERNS CA US  20101228             0.04
1822  GHCND:USC00045721  MITCHELL CAVERNS CA US  20101229             0.04
1823  GHCND:USC00045721  MITCHELL CAVERNS CA US  20101230             0.04
1824  GHCND:USC00045721  MITCHELL CAVERNS CA US  20101231             0.04

      DLY-SNWD-25PCTL  DLY-SNOW-25PCTL  DLY-PRCP-50PCTL  DLY-SNWD-50PCTL  \
1460             -666            -66.6             0.16             -666
1461             -666            -66.6             0.16             -666
1462             -666            -66.6             0.16             -666
1463             -666            -66.6             0.16             -666
1464             -666            -66.6             0.17             -666
...               ...              ...              ...              ...
1820             -666            -66.6             0.15             -666
1821             -666            -66.6             0.15             -666
1822             -666            -66.6             0.15             -666
1823             -666            -66.6             0.15             -666
1824             -666            -66.6             0.15             -666

      DLY-SNOW-50PCTL  DLY-PRCP-75PCTL  ...  DLY-PRCP-PCTALL-GE100HI  \
1460            -66.6             0.44  ...                       11
1461            -66.6             0.44  ...                       11
1462            -66.6             0.45  ...                       11
1463            -66.6             0.45  ...                       11
1464            -66.6             0.46  ...                       11
...               ...              ...  ...                      ...
1820            -66.6             0.44  ...                       12
1821            -66.6             0.43  ...                       12
1822            -66.6             0.43  ...                       11
1823            -66.6             0.43  ...                       11
1824            -66.6             0.44  ...                       11

      DLY-SNWD-PCTALL-GE001WI  DLY-SNWD-PCTALL-GE010WI  \
1460                        4                        0
1461                        4                        0
1462                        4                        0
1463                        4                        0
1464                        4                        0
...                       ...                      ...
1820                        4                        0
1821                        4                        0
1822                        4                        0
1823                        4                        0
1824                        4                        0

      DLY-SNWD-PCTALL-GE003WI  DLY-SNWD-PCTALL-GE005WI  \
1460                        3                        3
1461                        3                        3
1462                        3                        3
1463                        3                        2
1464                        3                        2
...                       ...                      ...
1820                        3                        3
1821                        3                        3
1822                        3                        3
1823                        3                        3
1824                        3                        3

      DLY-SNOW-PCTALL-GE001TI  DLY-SNOW-PCTALL-GE010TI  \
1460                        9                        6
1461                       10                        6
1462                       10                        6
1463                       10                        6
1464                       10                        6
...                       ...                      ...
1820                        9                        6
1821                        9                        6
1822                        9                        6
1823                        9                        6
1824                        9                        6

      DLY-SNOW-PCTALL-GE100TI  DLY-SNOW-PCTALL-GE030TI  \
1460                        0                    -9999
1461                        0                    -9999
1462                        0                    -9999
1463                        0                    -9999
1464                        0                    -9999
...                       ...                      ...
1820                        0                        2
1821                        0                        2
1822                        0                        2
1823                        0                        2
1824                        0                        2

      DLY-SNOW-PCTALL-GE050TI
1460                    -9999
1461                    -9999
1462                    -9999
1463                    -9999
1464                    -9999
...                       ...
1820                        2
1821                        2
1822                        2
1823                        2
1824                        2

[365 rows x 29 columns]
s
 shape
 (365, 29)

In [86]:
inner_merged


# inner join will discard the rows which doesn't match

,STATION,STATION_NAME,DATE,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,DLY-SNWD-50PCTL,DLY-SNOW-50PCTL,DLY-PRCP-75PCTL,...,DLY-CLDD-NORMAL,DLY-CLDD-BASE70,DLY-CLDD-BASE72,DLY-HTDD-BASE40,DLY-HTDD-BASE45,DLY-HTDD-BASE50,DLY-HTDD-BASE55,DLY-HTDD-BASE57,DLY-HTDD-BASE60,DLY-HTDD-NORMAL
0,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100101,0.04,-666,-66.6,0.16,-666,-66.6,0.44,...,0,0,0,1,3,6,10,12,14,19
1,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100102,0.05,-666,-66.6,0.16,-666,-66.6,0.44,...,0,0,0,1,3,6,10,11,14,19
2,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100103,0.05,-666,-66.6,0.16,-666,-66.6,0.45,...,0,0,0,1,2,5,9,11,14,19
3,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100104,0.05,-666,-66.6,0.16,-666,-66.6,0.45,...,0,0,0,1,2,5,9,11,14,19
4,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100105,0.05,-666,-66.6,0.17,-666,-66.6,0.46,...,0,0,0,1,2,5,9,11,14,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101227,0.04,-666,-66.6,0.15,-666,-66.6,0.44,...,-7777,0,0,1,3,6,10,12,15,20
361,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101228,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
362,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101229,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
363,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101230,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
364,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101231,0.04,-666,-66.6,0.15,-666,-66.6,0.44,...,-7777,0,0,1,3,6,10,12,15,19

In [91]:
# we can also choose on which attribute, merge has to happen, we can pass more than one attribute

# inner join is specifies with 'on' parameter

inner_merged_total = pd.merge(climate_temp,climate_percip, on = ['STATION','DATE'])
inner_merged_total

,STATION,STATION_NAME_x,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123000,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101227,4,2,1,-7777,...,62,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
123001,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101228,4,2,1,-7777,...,62,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
123002,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101229,4,2,1,-7777,...,63,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
123003,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101230,4,2,1,-7777,...,64,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
123004,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101231,4,2,1,-7777,...,64,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [92]:


# outer join


# outer join is specifies with the 'how' paramter

# if a row doesn't have a match in other datframe based on the key values / columns , data will loose in inner join

# but it won't get lost in the outer join, data will be added with Nan values

In [95]:
outer_merged = pd.merge(percip_specific_station,climate_temp, how='outer' , on=['STATION','DATE'])

In [96]:
outer_merged

,STATION,STATION_NAME_x,DATE,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,DLY-SNWD-50PCTL,DLY-SNOW-50PCTL,DLY-PRCP-75PCTL,...,DLY-CLDD-NORMAL,DLY-CLDD-BASE70,DLY-CLDD-BASE72,DLY-HTDD-BASE40,DLY-HTDD-BASE45,DLY-HTDD-BASE50,DLY-HTDD-BASE55,DLY-HTDD-BASE57,DLY-HTDD-BASE60,DLY-HTDD-NORMAL
0,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100101,0.04,-666.0,-66.6,0.16,-666.0,-66.6,0.44,...,0,0,0,1,3,6,10,12,14,19
1,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100102,0.05,-666.0,-66.6,0.16,-666.0,-66.6,0.44,...,0,0,0,1,3,6,10,11,14,19
2,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100103,0.05,-666.0,-66.6,0.16,-666.0,-66.6,0.45,...,0,0,0,1,2,5,9,11,14,19
3,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100104,0.05,-666.0,-66.6,0.16,-666.0,-66.6,0.45,...,0,0,0,1,2,5,9,11,14,19
4,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100105,0.05,-666.0,-66.6,0.17,-666.0,-66.6,0.46,...,0,0,0,1,2,5,9,11,14,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127015,GHCND:USC00046006,NaN,20101227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,2,4,6,10,12,15,20
127016,GHCND:USC00046006,NaN,20101228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,2,3,6,10,12,15,20
127017,GHCND:USC00046006,NaN,20101229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,2,3,6,10,12,15,19
127018,GHCND:USC00046006,NaN,20101230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,2,3,6,10,12,15,19
127019,GHCND:USC00046006,NaN,20101231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,1,3,6,10,12,14,19

In [97]:
climate_temp.shape

(127020, 21)

In [100]:


# left outer join

# leave all the data from the left dataset, discard the data from the right dataset if the condition doesn't match


left_merged = pd.merge(climate_temp, percip_specific_station, how="left", on=['STATION','DATE'])
left_merged

,STATION,STATION_NAME_x,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127015,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101227,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127016,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101228,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127017,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101229,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127018,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101230,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127019,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101231,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# if we change the order, it will result in different 

try_left_merged = pd.merge(percip_specific_station,climate_temp, how="left", on=['STATION','DATE'])
try_left_merged

,STATION,STATION_NAME_x,DATE,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,DLY-SNWD-50PCTL,DLY-SNOW-50PCTL,DLY-PRCP-75PCTL,...,DLY-CLDD-NORMAL,DLY-CLDD-BASE70,DLY-CLDD-BASE72,DLY-HTDD-BASE40,DLY-HTDD-BASE45,DLY-HTDD-BASE50,DLY-HTDD-BASE55,DLY-HTDD-BASE57,DLY-HTDD-BASE60,DLY-HTDD-NORMAL
0,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100101,0.04,-666,-66.6,0.16,-666,-66.6,0.44,...,0,0,0,1,3,6,10,12,14,19
1,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100102,0.05,-666,-66.6,0.16,-666,-66.6,0.44,...,0,0,0,1,3,6,10,11,14,19
2,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100103,0.05,-666,-66.6,0.16,-666,-66.6,0.45,...,0,0,0,1,2,5,9,11,14,19
3,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100104,0.05,-666,-66.6,0.16,-666,-66.6,0.45,...,0,0,0,1,2,5,9,11,14,19
4,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100105,0.05,-666,-66.6,0.17,-666,-66.6,0.46,...,0,0,0,1,2,5,9,11,14,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101227,0.04,-666,-66.6,0.15,-666,-66.6,0.44,...,-7777,0,0,1,3,6,10,12,15,20
361,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101228,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
362,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101229,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
363,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101230,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
364,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101231,0.04,-666,-66.6,0.15,-666,-66.6,0.44,...,-7777,0,0,1,3,6,10,12,15,19

In [102]:
# right outer join is the mirror of left outer join

right_merged = pd.merge(percip_specific_station,climate_temp, how="right", on=['STATION','DATE'])
right_merged

,STATION,STATION_NAME_x,DATE,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,DLY-SNWD-50PCTL,DLY-SNOW-50PCTL,DLY-PRCP-75PCTL,...,DLY-CLDD-NORMAL,DLY-CLDD-BASE70,DLY-CLDD-BASE72,DLY-HTDD-BASE40,DLY-HTDD-BASE45,DLY-HTDD-BASE50,DLY-HTDD-BASE55,DLY-HTDD-BASE57,DLY-HTDD-BASE60,DLY-HTDD-NORMAL
0,GHCND:USC00049099,NaN,20100101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,-7777,1,2,6,7,10,15
1,GHCND:USC00049099,NaN,20100102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,-7777,1,2,6,7,10,15
2,GHCND:USC00049099,NaN,20100103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,-7777,1,2,5,7,10,15
3,GHCND:USC00049099,NaN,20100104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,-7777,1,2,5,7,10,15
4,GHCND:USC00049099,NaN,20100105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,-7777,-7777,2,5,7,10,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127015,GHCND:USC00046006,NaN,20101227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,2,4,6,10,12,15,20
127016,GHCND:USC00046006,NaN,20101228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,2,3,6,10,12,15,20
127017,GHCND:USC00046006,NaN,20101229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,2,3,6,10,12,15,19
127018,GHCND:USC00046006,NaN,20101230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,2,3,6,10,12,15,19
127019,GHCND:USC00046006,NaN,20101231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7777,0,0,1,3,6,10,12,14,19

In [ ]:


# merge() vs join()




# merge() is more flexible and allows for joining based on columns or indices, and it's not restricted to only joining on indices like .join().

                                                                           
# .join() is simpler to use when you want to join DataFrames along their indices, 
# but it lacks the flexibility of merge() for specifying join keys or types of join operations.

In [103]:
percip_specific_station.join(climate_temp,lsuffix="left", rsuffix="right")

,STATIONleft,STATION_NAMEleft,DATEleft,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,DLY-SNWD-50PCTL,DLY-SNOW-50PCTL,DLY-PRCP-75PCTL,...,DLY-CLDD-NORMAL,DLY-CLDD-BASE70,DLY-CLDD-BASE72,DLY-HTDD-BASE40,DLY-HTDD-BASE45,DLY-HTDD-BASE50,DLY-HTDD-BASE55,DLY-HTDD-BASE57,DLY-HTDD-BASE60,DLY-HTDD-NORMAL
1460,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100101,0.04,-666,-66.6,0.16,-666,-66.6,0.44,...,0,0,0,1,3,6,10,12,14,19
1461,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100102,0.05,-666,-66.6,0.16,-666,-66.6,0.44,...,0,0,0,1,3,6,10,11,14,19
1462,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100103,0.05,-666,-66.6,0.16,-666,-66.6,0.45,...,0,0,0,1,2,5,9,11,14,19
1463,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100104,0.05,-666,-66.6,0.16,-666,-66.6,0.45,...,0,0,0,1,2,5,9,11,14,19
1464,GHCND:USC00045721,MITCHELL CAVERNS CA US,20100105,0.05,-666,-66.6,0.17,-666,-66.6,0.46,...,0,0,0,1,2,5,9,11,14,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1820,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101227,0.04,-666,-66.6,0.15,-666,-66.6,0.44,...,-7777,0,0,1,3,6,10,12,15,20
1821,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101228,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
1822,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101229,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
1823,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101230,0.04,-666,-66.6,0.15,-666,-66.6,0.43,...,-7777,0,0,1,3,6,10,12,15,20
1824,GHCND:USC00045721,MITCHELL CAVERNS CA US,20101231,0.04,-666,-66.6,0.15,-666,-66.6,0.44,...,-7777,0,0,1,3,6,10,12,15,19

In [104]:
climate_temp.join(percip_specific_station, lsuffix="left", rsuffix="right")

,STATIONleft,STATION_NAMEleft,ELEVATION,LATITUDE,LONGITUDE,DATEleft,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127015,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101227,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127016,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101228,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127017,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101229,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127018,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101230,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127019,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101231,4,2,1,-7777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
inner_merged_total = pd.merge(climate_temp,climate_percip, on=['STATION','DATE'])
inner_merged_total

,STATION,STATION_NAME_x,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123000,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101227,4,2,1,-7777,...,62,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
123001,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101228,4,2,1,-7777,...,62,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
123002,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101229,4,2,1,-7777,...,63,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
123003,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101230,4,2,1,-7777,...,64,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
123004,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101231,4,2,1,-7777,...,64,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [109]:
inner_join_total = climate_temp.join(climate_percip.set_index(["STATION", "DATE"]),
                                     on=['STATION','DATE'],how="inner",
                                     lsuffix="_x",
                                     rsuffix="_y")

inner_join_total

,STATION,STATION_NAME_x,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127015,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101227,4,2,1,-7777,...,62,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
127016,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101228,4,2,1,-7777,...,62,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
127017,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101229,4,2,1,-7777,...,63,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
127018,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101230,4,2,1,-7777,...,64,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
127019,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101231,4,2,1,-7777,...,64,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [111]:



# concat



# outer join concat 


# concatinating along rows
    
outer_joined = pd.concat([climate_temp,climate_percip])
outer_joined

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6.0,2.0,-7777.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6.0,2.0,1.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6.0,2.0,1.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6.0,2.0,1.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6.0,2.0,1.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151105,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101227,NaN,NaN,NaN,NaN,...,62.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
151106,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101228,NaN,NaN,NaN,NaN,...,62.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
151107,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101229,NaN,NaN,NaN,NaN,...,63.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
151108,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101230,NaN,NaN,NaN,NaN,...,64.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
151109,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101231,NaN,NaN,NaN,NaN,...,64.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [ ]:


# above With these two DataFrames, 
# since youâ€™re just concatenating along rows, 
# very few columns have the same name. 

#     That means youâ€™ll see a lot of columns with NaN values.

In [119]:


# concatinating along columns

inner_joined = pd.concat([climate_temp,climate_percip], join="inner")
inner_joined

                  STATION            STATION_NAME      DATE
0       GHCND:USC00049099  TWENTYNINE PALMS CA US  20100101
1       GHCND:USC00049099  TWENTYNINE PALMS CA US  20100102
2       GHCND:USC00049099  TWENTYNINE PALMS CA US  20100103
3       GHCND:USC00049099  TWENTYNINE PALMS CA US  20100104
4       GHCND:USC00049099  TWENTYNINE PALMS CA US  20100105
...                   ...                     ...       ...
151105  GHCND:USC00046006  MOUNT WILSON CBS CA US  20101227
151106  GHCND:USC00046006  MOUNT WILSON CBS CA US  20101228
151107  GHCND:USC00046006  MOUNT WILSON CBS CA US  20101229
151108  GHCND:USC00046006  MOUNT WILSON CBS CA US  20101230
151109  GHCND:USC00046006  MOUNT WILSON CBS CA US  20101231

[278130 rows x 3 columns]

In [120]:

outer_joined = pd.concat([climate_temp,climate_percip], join="outer")
outer_joined

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6.0,2.0,-7777.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6.0,2.0,1.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6.0,2.0,1.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6.0,2.0,1.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6.0,2.0,1.0,-7777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151105,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101227,NaN,NaN,NaN,NaN,...,62.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
151106,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101228,NaN,NaN,NaN,NaN,...,62.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
151107,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101229,NaN,NaN,NaN,NaN,...,63.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
151108,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101230,NaN,NaN,NaN,NaN,...,64.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
151109,GHCND:USC00046006,MOUNT WILSON CBS CA US,NaN,NaN,NaN,20101231,NaN,NaN,NaN,NaN,...,64.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [121]:
inner_joined_col = pd.concat([climate_temp,climate_percip], join="inner" ,axis=1)
inner_joined_col

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127015,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101227,4,2,1,-7777,...,15,0,0,0,0,0,0,0,0,0
127016,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101228,4,2,1,-7777,...,15,0,0,0,0,0,0,0,0,0
127017,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101229,4,2,1,-7777,...,16,0,0,0,0,0,0,0,0,0
127018,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101230,4,2,1,-7777,...,16,0,0,0,0,0,0,0,0,0
127019,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.4,34.2308,-118.0711,20101231,4,2,1,-7777,...,16,0,0,0,0,0,0,0,0,0

In [ ]:
# Now you have only the rows that have data for all columns in both DataFrames.

In [122]:
hierarchial_keys = pd.concat([climate_temp,climate_percip],keys=['temp','percip'])

In [125]:
hierarchial_keys.index

MultiIndex([(  'temp',      0),
            (  'temp',      1),
            (  'temp',      2),
            (  'temp',      3),
            (  'temp',      4),
            (  'temp',      5),
            (  'temp',      6),
            (  'temp',      7),
            (  'temp',      8),
            (  'temp',      9),
            ...
            ('percip', 151100),
            ('percip', 151101),
            ('percip', 151102),
            ('percip', 151103),
            ('percip', 151104),
            ('percip', 151105),
            ('percip', 151106),
            ('percip', 151107),
            ('percip', 151108),
            ('percip', 151109)],
           length=278130)

In [ ]:


# merge 

# merge() for combining data on common columns or indices

In [ ]:


# join 

# .join() for combining data on a key column or an index

In [ ]:

# concat 

# concat() for combining DataFrames across rows or columns

In [ ]:
# pd.concat([climate_temp, climate_percip])  vs pd.concat([climate_temp, climate_percip], join="inner")


# The difference between pd.concat([climate_temp, climate_percip]) 
# and pd.concat([climate_temp, climate_percip], join="inner") lies in how they handle the concatenation of DataFrames 
# and the resulting shape of the output DataFrame.

In [ ]:
# pd.concat([climate_temp, climate_percip]):

# This performs an outer join by default. 
# It concatenates the DataFrames climate_temp and climate_percip along the specified axis (usually rows), 
# keeping all columns from both DataFrames.
# The resulting DataFrame will contain all rows from both DataFrames, 
# and missing values will be filled with NaN where data is absent in either DataFrame.

In [ ]:
# pd.concat([climate_temp, climate_percip], join="inner"):

# This performs an inner join. It concatenates the DataFrames climate_temp and climate_percip along the specified axis (usually rows), 
# but only includes columns that are present in both DataFrames.
# The resulting DataFrame will contain only rows where there are matching indices or rows in both DataFrames, 
# and it will include only columns that are common to both DataFrames.